html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.main {
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15vh;
    padding: 2rem;
    padding-top: 1rem;
    background-color: none;
    position: absolute;
    z-index: 1;
}

.image img{
    height: clamp(2rem, 3vw, 2.5rem);
}

.rightbuttons{
    display: flex;
    gap: 0.7rem;
    height: auto;
}

#langauge{
    border: 2px solid white;
    padding: 0.4rem 1.25rem;
    border-radius: 5px;
  font-size: clamp(0.85rem, 1vw, 1rem);}

.sign-in{
    background-color: red;
    color: white;
    padding: 0.4rem 1.6rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}


.hero{
    height: 100vh;
    width: 100%;
    background-image:
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.6) 25%,
            rgba(0, 0, 0, 0.4) 50%,
            rgba(0, 0, 0, 0.6) 75%,
            rgba(0, 0, 0, 0.9) 100%
        ),
        url('assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0 0 3% 3%
}

.hero-content{
    width: min(90%, 40rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    gap: 1.5rem;
}

.hero-content h1 {
    font-size: clamp(2rem, 3.5vw, 4.5rem);
    font-weight: 700;
    text-align: center;
    line-height: 1;
    /* padding: 5rem; */
}

.news {
    background-color: red;
    color: white;
    padding: clamp(0.75rem, 1.5vw, 1rem) clamp(1.5rem, 3vw, 2rem);
    font-size: clamp(1rem, 1.4vw, 1.2rem);
    border-radius: 5px;
    border: none;

}

.email{
    /* background-color: red; */
    color: white;
    padding: clamp(0.75rem, 1.5vw, 1rem) clamp(1.5rem, 3vw, 2rem);
    font-size: clamp(1rem, 1.4vw, 1.2rem);
    border-radius: 5px;
    border: none;
}

.trending {
    height: 600px;
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trending h1{
    margin: 1rem;
    display: flex;
}

.movie-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    gap: 4rem;
    overflow: auto;
    padding: 25px;
    width: 70%;
}

.card {
    position: relative;
    display: inline
}

.card img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.card h1{
    font-size: 150px;
    position: absolute;
    bottom: -10px;
    left: -40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.movie-cards::-webkit-scrollbar {
  display: none;
}