@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

.card {
    display: flex;
    flex-direction: row;
    border-radius: 0.625rem; /* 10px */
     width: 100%;
    max-width: 37.5rem;

}

.image {
    min-width: 18.75rem;
}

.image img {
    width: 100%; /* 300px */
    height: auto;
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.875rem; /* 30px */
    background-color: white;
    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

.price {
    color: hsl(158, 36%, 37%);
}

.descr {
    opacity: 0.6;
    font-size: 0.875rem; /* 14px */
}

.content button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 0.75em 0.9375em; /* 12px 15px */
    border-radius: 0.4375rem; /* 7px */
    border: none;
    cursor: pointer;
    font-size: 1rem; /* 16px */
    font-weight: 700;
}

@media (max-width: 700px) {
    .main {
        padding: 30px;
    }

    .card {
        flex-direction: column;
        width: 100%;
        max-width: 22rem; /* optional but looks premium */
    }

    .image {
        width: 100%;
        max-width: none;
    }

    .image img {
        content: url('assets/mobile-design.jpg');
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 0.625rem 0.625rem 0 0;
    }

    .content h1{
        font-size: 1.5rem;
        line-height: 1.2;
    }
    
    .content {
        padding: 1.25rem;
        gap: 0.75rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0.625rem;
    }

    .descr {
        font-size: 0.875rem;
        line-height: 1.6;
    }
}